body {font-family: "Open Sans", Verdana, Tahoma, Arial; background-color: #eee; line-height: 2em; margin:0; padding:0;}

h3 {margin-top: 2em; padding-left: 0.5em; margin-bottom: 0; padding-bottom: 0; border-bottom: 1px dotted #ccc;}
h4 {margin: 0 1em;}
ul.nobullets {list-style-type: none;}

a:link, a:visited {color: #0068B8;}
a:hover {color: rgb(75,172,198);}

div#wrapper {margin:0; padding: 0;}
div#header {background-color: #fafafa; color: black; height: 160px; box-shadow: 2px 2px 10px #888888;}
div#photo {float: left; width: 25%; text-align: center;}
div#photo img {padding-top: 12px; height: 135px; width: 108px}
div#name {float: left; width: 50%; text-align: center;}
div#name h1 {font-family: Bitter, Georgia, "Times New Roman", serif; margin-top: 1.3em; font-size: 48px; text-shadow: 2px 2px #c0c0c0; }
div#contact {float: left; width: 25%;}
div#contact ul {margin-top: 1.8em;}
div#header a:link, div#header a:visited, a.button:link, a.button:visited {color: #3685b5; text-decoration: none;}
div#header a:hover, a.button:hover {text-decoration: underline; color: rgb(128,64,0)}

div.container {margin: auto; width: 90%;}
div.column {float: left; width: 45%; margin-left: 4.5%}

div.icons {width: 80%; margin-top: 1em;}
div.icons span {display: inline-block; width: 45%; margin-bottom: 1em; margin-left: 2%; text-align:center;}
div.icons span i {display:block;}
div.icons a:link {text-decoration:none;}

div.pubs {margin: auto; width: 90%;}
div.pubs p {padding-left: 3em; text-indent:-2em; font-size: 0.9em; margin-bottom:0; margin-top: 0;}





form.nice label {float: left; width: 250px; margin-right: 1em; text-align: right; }
form.nice input,  form.nice select,  form.nice textarea {margin-left: 2px; display: block; margin-bottom: 0.5em;}
form.nice input#submit,  form.nice input#reset {display:inline;}
form.nice label.nostyle {display: block; width: 400px; margin: 0 auto 1em; }
form.nice input.nostyle {display: inline;}	
	
.teal {color: rgb(75,172,198);}
.blue {color: #338ACC;}
.orange {color: rgb(247,150,70);}
.green {color: #34D18E;}
.brown {color: rgb(128,64,0);}
.ce {text-align:center;}
.r {text-align: right;}
.fl {float: left;}
.fr {float: right;}
.cl {clear: both;}
.sp {width:100%; height: 10px;}
.m0 {margin: 0;}
.p0 {padding: 0;}
.sm {font-size: 62.8%;}

.circular { width: 180px; height: 180px; border-radius: 90px; -webkit-border-radius: 90px; -moz-border-radius: 90px; }
.circular img {opacity: 0; filter: alpha(opacity=0);}

@media screen and (max-width: 960px) {
div#wrapper, div.column {width: 100%; display: block;}
div#header {background-color: white; color: black; display: block; width: 100%;}
div#photo {float: left; width: 19.75%; text-align: center;}
div#name, div#contact, div.docbuttons {width: 80%; text-align: center; display:inline-block; }
div#name h1 {font-family: Bitter, Georgia, "Times New Roman", serif; font-size: 24px; margin-top: 0.25em; }
div#header ul {display: block; width: 100%; margin: 0; padding: 0;}
h3 {padding-left: 0;}
div#content {display: block; width: 100%;}
div.docbuttons {float: right; width: 30%;}
div.docbuttons a {margin-left: auto; margin-right: auto; margin-bottom: 0.5em; }
a.button {width: 80%;}

}

@media screen and (max-width: 480px) {
body {background-color: white;}
div#wrapper, .column {width: 100%; display: block;}
div#header {background-color: white; color: black; display: block; width: 100%; box-shadow: none;} 
div#photo, div#name, div#contact, div.docbuttons {display: block; text-align: center; width: 100%;}
div#photo img {width: 180px; height: 225px;}
div#contact {margin-bottom: 1em;}
div#name h1 {font-family: Bitter, Georgia, "Times New Roman", serif; font-size: 24px; }
div#header ul {display: block; width: 100%; margin: 0; padding: 0;}
h3 {padding-left: 0;}
div#content {display: block; width: 100%;}
div.docbuttons a {margin-left: auto; margin-right: auto; margin-bottom: 0.5em; }

}
