<footer class="pt-4 pb-4 text-muted text-center d-print-none">
  <div class="container">
    <div class="my-3">
      <div class="h4"><a href="/">Logan Rath, PhD</a></div>
      <div class="footer-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li class="nav-link"><a class="nav-link" href="mailto:logan@rath.phd" title="E-Mail"><i class="fas fa-envelope"></i></a></li>
            <li class="nav-link"><a class="nav-link" href="rath_cv_web.pdf" title="CV"><i class="ai ai-cv-square"></i></a></li>
            <li class="nav-link"><a class="nav-link" href="https://www2.brockport.edu/live/profiles/1707-logan-rath" title="My institution"><i class="fas fa-university"></i></a></li>
            <li class="nav-link"><a class="nav-link" href="https://scholar.google.com/citations?user=sfO-kFAAAAAJ&hl=en" title="Google Scholar"><i class="ai ai-google-scholar-square"></i></a></li>
            <li class="nav-link"><a class="nav-link" href="https://orcid.org/0000-0002-6221-4536" title="ORCID iD"><i class="fab fa-orcid"></i></a></li>
            <li class="nav-link"><a class="nav-link" href="https://github.com/loganrath" title="GitHub"><i class="fab fa-github"></i></a></li>
            <!--li><a href="" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a></li-->
            <li><a href="https://linkedin.com/in/loganrath" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
            <!--li class="nav-item"><a class="nav-link" href="https://scholar.social/@logan@scholar.social" title="Mastodon"><i class="fab fab fa-mastodon"></i><span class="menu-title sr-only">Twitter</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="https://orcid.org/0000-0002-6221-4536" title="ORCid"><i class="fab fa-orcid"></i><span class="menu-title sr-only">ORCid</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="https://scholar.google.com/citations?user=sfO-kFAAAAAJ&hl=en" title="Google Scholar"><i class="fas fa-graduation-cap"></i><span class="menu-title sr-only">Google Scholar</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/loganrath/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
            </li-->
          </ul>
        </nav>
      </div>
    </div>
    <div class="text-small">
      <div class="mb-1">&copy; Right Resume. All rights reserved.</div>
      <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
    </div>
  </div>
</footer>
<script src="/assets/rightresume/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="/assets/rightresume/scripts/aos.js?ver=1.2.0"></script>
<script src="/assets/rightresume/scripts/main.js?ver=1.2.0"></script>
