     <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
        <div class="socialicons">
        {% if site.author.twitter %}
          <a href="http://twitter.com/{{ site.info.twitter }}" target="_blank">
          <span class="fa-stack fa-lg" style="float: right; display: inline-block;">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
          </a>
        {% endif %}
        {% if site.author.facebook %}
          <a href="http://facebook.com/{{ site.info.twitter }}" target="_blank">
           <span class="fa-stack fa-lg" style="float: right; display: inline-block;">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
          </a>
          {% endif %}
          {% if site.author.gplus %}
          <a href="http://plus.google.com/{{ site.info.gplus }}" target="_blank">
          <span class="fa-stack fa-lg" style="float: right; display: inline-block;">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x"></i>
          </span>
          </a>
          {% endif %}
        </div>
      </header>
      
