<div id="home" class="col-4 col-md-12 mb-1"><a href="/"><i class="fa fa-user fa-2x fa-fw mr-2"></i>Home</a></div>
<div id="scholarship" class="col-4 col-md-12 mt-1 mb-1"><a href="/scholarship/"><i class="fa fa-edit fa-2x fa-fw mr-2"></i>Publications</a></div>
<div id="teaching" class="col-4 col-md-12 mt-1 mb-1"><a href="/teaching/"><i class="fas fa-chalkboard-teacher fa-2x fa-fw mr-2"></i>Teaching</a></div>
<div id="tools" class="col-4 col-md-12 mt-1"><a href="/tools/"><i class="fas fa-tools fa-2x fa-fw mr-2"></i>Modules &amp; Tools</a></div>
<div id="gscholar" class="col-4 col-md-12 mt-1"><a href="https://scholar.google.com/citations?user=sfO-kFAAAAAJ&hl=en" target="_blank"><i class="fas fa-graduation-cap fa-2x fa-fw mr-2"></i>Google Scholar</a></div>
<div id="orcid" class="col-4 col-md-12 mt-1"><a href="https://orcid.org/0000-0002-6221-4536" target="_blank"><i class="fab fa-orcid fa-2x fa-fw mr-2"></i>ORCid</a></div>
