<div id="home" class="col-4 col-md-12 mb-1"><a href="/"><i class="fa fa-user fa-2x fa-fw mr-2"></i>Home</a></div>
<div id="scholarship" class="col-4 col-md-12 mt-1 mb-1"><a href="/scholarship/"><i class="fa fa-edit fa-2x fa-fw mr-2"></i>Publications</a></div>
<div id="teaching" class="col-4 col-md-12 mt-1 mb-1"><a href="/teaching/"><i class="fas fa-chalkboard-teacher fa-2x fa-fw mr-2"></i>Teaching</a></div>
<div id="tools" class="col-4 col-md-12 mt-1"><a href="/tools/"><i class="fas fa-tools fa-2x fa-fw mr-2"></i>Modules &amp; Tools</a></div>
