<div class="apa">
<p>How Can Theory Help Us Be Better Librarians? A Panel Discussion (with A. VanScoy and C. Germain). <em><a href="https://events.sunyla.org/sunyla2021" taret="_blank">SUNY Librarians Association</a></em> (6/16/21)</p>
<p>Transforming understanding of information literacy: Sustainable futures through information landscapes. <em><a href="https://www.asist.org/am20/" target="_blank">Association for Information Science & Technology, Online</a></em> (10/28/20)</p>
<p>Transforming information literacy education: Information literacy landscapes. <em><a target="_blank" href="https://www.alise.org/2020-annual-conference">Association of Library and Information Science Educators, Online</a></em> (10/22/20)</p>
<p>Are They Learning? Information Literacy Assessment in the Library Classroom (with N. Murillo). <em><a href="https://sunyla2020.wordpress.com" target="_blank">SUNY Librarians Association</a></em> (6/16/20)</p>
<p>Digital Interactive Notebooks for Learning Asynchronously. <em><a target="_blank" href="https://cit.suny.edu/cit-2019/">SUNY Conference on Instruction &amp; Technology</a></em> (5/30/19)</p>
<p>Alma Fulfillment Training. <em><a target="_blank" href="https://slcny.libguides.com/lsptraining">SUNY Shared Library Services Training</a></em> (4/2019 - 5/2019)</p>
<p>I Never Knew a Librarian Did That! (with K. Colantonio-Yurko). <em><a target="_blank" href="https://www.esln.org/the-library-is-open/">The Library is Open: The Academic Libraries Conference</a></em> (10/12/18)</p>
<p>USER Instructional Design Method. <em><a target="_blank" href="https://sunyla.org/informationliteracy/">SUNY Librarians Association Working Group for Information Literacy Lightning Talks</a></em> (9/12/18)</p>
</div>
