<div class="apa">
<p>Are They Learning? Information Literacy Assessment in the Library Classroom (with N. Murillo). <em><a href="https://sunyla2020.wordpress.com">SUNY Librarians Association</a></em> (6/16/20)</p>
<p>Digital Interactive Notebooks for Learning Asynchronously. <em><a target="_blank" href="https://cit.suny.edu/cit-2019/">SUNY Conference on Instruction &amp; Technology</a></em> (5/30/19)</p>
<p>Alma Fulfillment Training. <em><a target="_blank" href="https://slcny.libguides.com/lsptraining">SUNY Shared Library Services Training</a></em> (4/2019 - 5/2019)</p>
<p>I Never Knew a Librarian Did That! (with K. Colantonio-Yurko). <em><a target="_blank" href="https://www.esln.org/the-library-is-open/">The Library is Open: The Academic Libraries Conference</a></em> (10/12/18)</p>
<p>USER Instructional Design Method. <em><a target="_blank" href="https://sunyla.org/informationliteracy/">SUNY Librarians Association Working Group for Information Literacy Lightning Talks</a></em> (9/12/18)</p>
</div>
