<ul>
    <li><a target="_blank" href="https://brockport.open.suny.edu/webapps/blackboard/content/listContent.jsp?course_id=_1565_1&content_id=_41924_1">Library Modules in Blackboard</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=UQdWxoX6LZo&list=PLpQ79pzddzF4ZFw3nFZmm5x3D8C4CK89s">Zotero videos</a></li>
	<li><a target="_blank" href="http://digitalcommons.brockport.edu/opensuny">Open SUNY Information Literacy Portal</a></li>
	<li><a target="_blank" href="http://library.brockport.edu/prf.php?account_id=456">LibGuides Profile</a></li>
    <li><a target="_blank" href="http://www.suny.edu/toep">Tools of Engagement Project</a></li>
</ul>