{% if site.author.twitter %}
<a href="http://twitter.com/{{ site.author.twitter }}" target="_blank">
 <span class="fa-stack fa-lg" style="display: inline-block;">
 <i class="far fa-circle fa-stack-2x"></i>
 <i class="fab fa-twitter fa-stack-1x"></i>
 </span>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
 <span class="fa-stack fa-lg" style="display: inline-block;">
 <i class="far fa-circle fa-stack-2x"></i>
 <i class="fab fa-linkedin fa-stack-1x"></i>
 </span>
</a>
{% endif %}
{% if site.author.facebook %}
<a href="http://facebook.com/{{ site.author.facebook }}" target="_blank">
 <span class="fa-stack fa-lg" style="display: inline-block;">
 <i class="fa fa-circle-thin fa-stack-2x"></i>
 <i class="fa fa-facebook fa-stack-1x"></i>
 </span>
</a>
{% endif %}
{% if site.author.gplus %}
<a href="http://plus.google.com/{{ site.author.gplus }}" target="_blank">
 <span class="fa-stack fa-lg" style="display: inline-block;">
 <i class="fa fa-circle-thin fa-stack-2x"></i>
 <i class="fa fa-google-plus fa-stack-1x"></i>
 </span>
</a>
{% endif %}
