/* CSS Document */

body {margin: 0; font-family: "Open Sans"; background-color: #e2e2d4}

header {background-color: #05533e; color: white; border-bottom: 0.5em solid #ffc726; margin-bottom: 0.5em; padding-top: 0.2em;}
header h1 {line-height: 1em;}

header .name {font-family: Bitter}

#content-wrapper {background-color: #e2e2d4; min-width: 960px; padding: 0 1em; line-height: 1.5em;}
#content {width: 95%; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em;}
#content a:link, #content a:visited {color: #005899;}
#content a:hover {color: #ffc726;}

.c2 {float: left; width: 45%; margin-right: 2%;}
.c3 {float: left; width: 30%; margin-right: 2%;}
.c3w {float: left; width: 65%; margin-right: 3%;}
.c4 {float: left; width: 22%; margin-right: 2%;}
.c4x {float: left; width: 44%; margin-right: 2%;}
.c4w {float: left; width: 70%; margin-right: 2%;}

.wide {float: left; width: 74%; margin-right: 2%;}
.narrow {float: left; width: 22%; margin-right: 2%;}

.box {background-color: white; border: 1px solid #ccc; margin-top: 0.5em; margin-bottom: 1em;}
.box h3 {margin: 0; padding: 0.25em; padding-left: 0.5em; background-color: #00533e; color: white; font-weight: 600;}
.box ul {margin-top: 0.5em; list-style-type: none; }

.clear {clear: both;}
.center {text-align: center;}

@media only screen and (max-width : 1200px ) {

.wide {float: left; width: 65%; margin-right: 2%;}
.narrow {float: left; width: 30%;}
}

@media only screen and (max-width : 970px ) {
#content, #content-wrapper {width: 100%; min-width: 0; padding: 0.25em}

@media only screen and (max-width : 768px ) { 
#content, #content-wrapper, .c2, .c3, .c3w, .c4, .c4w, .c4x, .narrow, .wide {width: 100%; float: none; min-width:0; padding: 0; }
}
	