<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
 	{% include header.html %}
{% if page.coverimage %}
	</div>
<div class="blog-cover" style="background-image:url(/images/{{ page.coverimage }});">
  <div class='cover_overlay'>
    <div class="content">
      <h1 style="text-shadow: 2px 2px #333;">{{ page.title }}</h1>
      {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
    </div>
  </div>
</div>
{% if page.coverimage_caption %}<div class='cover-caption'>{{ page.coverimage_caption }}</div>{% endif %}
    <div class="container content">
{% endif %}
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
