<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container content">
 	{% include header.html %}
      <main>
        {{ content }}
      </main>
	</div>
    <footer class="footer">
      <div class="container content">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved. <a href="/disclaimer.html">See disclaimer for more information</a>.
        </small>
      </footer>
    </div>

  </body>
</html>
