<!DOCTYPE html>
<html lang="en-US">
  {% include head2023.html %}
  <body id="top">
    <header class="d-print-none" style="height: 2em;"></header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="https://loganrath.info/assets/img/logan2023.jpg" width="200" height="200"/></div>
      </div>
      <div class="col-lg-8 col-md-7 text-center text-md-start">
        <h1 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Logan Rath, PhD</h1>
        <p data-aos="fade-left" data-aos-delay="100">logan@rath.phd</p>
        <div class="d-print-none" data-aos="fade-left" data-aos-delay="200">
          <ul class="icons my-2 py-md-5 my-md-5 my-lg-3 ps-0">
            <li><a href="mailto:logan@rath.phd" title="E-Mail"><i class="fas fa-envelope"></i></a></li>
            <li><a href="rath_cv_web.pdf" title="CV"><i class="ai ai-cv-square"></i></a></li>
            <li><a href="https://www2.brockport.edu/live/profiles/1707-logan-rath" title="My institution"><i class="fas fa-university"></i></a></li>
            <li><a href="https://scholar.google.com/citations?user=sfO-kFAAAAAJ&hl=en" title="Google Scholar"><i class="ai ai-google-scholar-square"></i></a></li>
            <li><a href="https://orcid.org/0000-0002-6221-4536" title="ORCID iD"><i class="fab fa-orcid"></i></a></li>
            <li><a href="https://github.com/loganrath" title="GitHub"><i class="fab fa-github"></i></a></li>
            <!--li><a href="" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a></li-->
            <li><a href="https://linkedin.com/in/loganrath" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{content}}
  <!--div class="contant-section px-3 px-lg-4 pb-4" id="contact">
    <h2 class="h3 text mb-3">Contact</h2>
    <div class="row">
      <div class="col-md-7 d-print-none">
        <div class="my-2"><form action="https://formspree.io/your@email.com"
    method="POST">
  <div class="row">
    <div class="col-6">
      <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required>
    </div>
    <div class="col-6">
      <input class="form-control" type="email" id="email" name="_replyto" placeholder="Your E-mail" required>
    </div>
  </div>
  <div class="form-group my-2">
    <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>
  </div>
  <button class="btn btn-primary mt-2" type="submit">Send</button>
</form>
        </div>
      </div>
      <div class="col">
        <div class="mt-2">
          <h3 class="h6">Address</h3>
          <div class="pb-2 text-secondary">140, City Center, New York, U.S.A</div>
          <h3 class="h6">Phone</h3>
          <div class="pb-2 text-secondary">+0718-111-0011</div>
          <h3 class="h6">Email</h3>
          <div class="pb-2 text-secondary">Joyce@company.com</div>
        </div>
      </div>
      <div class="col d-none d-print-block">
        <div class="mt-2">
          <div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-twitter mr-1"></i><span>https://twitter.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-instagram mr-1"></i><span>https://www.instagram.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-github mr-1"></i><span>https://github.com/templateflip</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div -->
</div></div>
    </div>
    {% include footer2023.html %}
  </body>
</html>
