<!DOCTYPE html>
<html lang="en-US">
  {% include head2023.html %}
  <body id="top">
    <header class="d-print-none" style="height: 2em;"></header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="https://loganrath.info/assets/img/logan-phd.jpg" width="200" height="200"/></div>
      </div>
      <div class="col-lg-8 col-md-7 text-center text-md-start">
        <h1 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Logan Rath, PhD</h1>
        <p data-aos="fade-left" data-aos-delay="100">Librarian. Researcher. Instructor.</p>
        <div class="d-print-none" data-aos="fade-left" data-aos-delay="200">
          <a class="btn btn-warning shadow-sm mt-1 me-1" href="/rath_cv_web.pdf" target="_blank">Download CV</a>
          <a class="btn btn-warning shadow-sm mt-1 me-1" href="#publications">Publications</a>
          <a class="btn btn-warning shadow-sm mt-1 me-1" href="#presentations">Presentations</a>
          <a class="btn btn-warning shadow-sm mt-1 me-1" href="#tools">Tools &amp; Modules</a>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 mb-3">About Me</h2>
      </div>
      <div class="col-md-6">
        <p>I'm an academic instruction librarian where I support students who will be future teachers, educators, nurses and social workers as well as students in psychology, women & gender studies and modern languages and cultures. I also teach research methods to future information professionals and coordinate professional learning for interlibrary loan professionals. <a href="/about/">Read more...</a></p>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="pb-1">Email</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary small-caps">logan@lrphd.xyz</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Phone</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">+1-716-245-5599</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Location</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">Rochester, NY</div>
          </div>
          <!--div class="col-sm-4">
            <div class="pb-1">Languages</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">English, Spanish, French, ASL</div>
          </div-->
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="skills-section px-3 px-lg-4">
    <h2 class="h3 mb-3">Research Areas</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2"><span>Information Literacy</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Information Behavior</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Literacy</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2"><span>Collaboration</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Educational Technology</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Instructional Design</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-2">Work Experience</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Instruction &amp; Research Librarian <span class="text-muted h6">at SUNY Brockport</span></div>
          <div class="text-muted text-small mb-2">April, 2008 - Present</div>
          <div>Design and deliver information literacy sessions across modalities. Meet with students and faculty to provide one-on-one assistance searching scholarly literature and using library resources.</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Adjunct Lecturer</div>
          <ul>
            <li>Research Methods at SUNY Albany, Fall 2022 - Present</li>
            <li>Literacy &amp; Eductional Technology courses (various) at SUNY Brockport, 2015 - 2020</li>
            <li>Information Literacy Theory and Practice at University at Buffalo, 2012 - 2014</li>
          </ul>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Emerging Technologies Librarian <span class="text-muted h6">at SUNY Oneonta</span></div>
          <div class="text-muted text-small mb-2">2007 - 2008</div>
          <div>Managed the public face of library technologies including the library's website. Taught one section of INTD150: Library &amp; Internet Research to students enrolled in the Educational Opportunity Program.</div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>
  <a name="education" id="education"></a>
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-2">Education</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">PhD, Curriculum, Instruction &amp; the Science of Learning <span class="text-muted h6">from University at Buffalo (2022)</span></div>
          <div>Dissertation: Information Literacy is a Social Practice: Exploration of a Threshold Concept for Academic Instruction Librarians</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-0">MS, Information Design &amp; Technology <span class="text-muted h6">from SUNY Polytechnic (2012)</span></div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-0">MLS <span class="text-muted h6">from University at Buffalo (2007)</span></div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-0">BA <span class="text-muted h6">from SUNY Geneseo (2005)</span></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="px-3 px-lg-4 pb-4">
    <h2 class="h3 text mb-3">Scholarship</h2>
    <div class="row">
      <div class="timeline">
        <a name="publications" id="publications"></a>
        <div class="timeline-card timeline-card-warning card shadow-sm">
          <div class="card-body">
            <div class="mb-1 h5">Selected Publications</div>
            <div class="apa">
                <p>Rath, L. (2022). Information literacy is a social practice: A threshold concept for academic instruction librarians. <em>Journal of Education for Library and Information Science.</em> <a href="https://doi.org/10.3138/jelis-2021-0067" target="_blank">https://doi.org/10.3138/jelis-2021-0067</a></p>
                <p>Rath, L. (2022). Factors that influence librarian definitions of information literacy. <em>Journal of Academic Librarianship 48(6)</em>. <a target="_blank" href="https://doi.org/10.1016/j.acalib.2022.102597">https://doi.org/10.1016/j.acalib.2022.102597</a></p>
                <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1007%2Fs10639-021-10679-w&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=%E2%80%9CWe%20are%20still%20putting%20out%20fires%E2%80%9D%3A%20Considering%20educator%20intentionality%20in%20remote%20instruction%20during%20the%20COVID-19%20pandemic&amp;rft.jtitle=Education%20and%20Information%20Technologies&amp;rft.stitle=Educ%20Inf%20Technol&amp;rft.volume=27&amp;rft.issue=1&amp;rft.aufirst=Natalie%20Sue&amp;rft.aulast=Svrcek&amp;rft.au=Natalie%20Sue%20Svrcek&amp;rft.au=Logan%20Rath&amp;rft.au=Kathleen%20Olmstead&amp;rft.au=Kathleen%20Colantonio-Yurko&amp;rft.date=2022-01-01&amp;rft.pages=407-428&amp;rft.spage=407&amp;rft.epage=428&amp;rft.issn=1573-7608&amp;rft.language=en"></span>
                <p>Svrcek, N. S., Rath, L., Olmstead, K., &amp; Colantonio-Yurko, K. (2022). “We are still putting out fires”: Considering educator intentionality in remote instruction during the COVID-19 pandemic. <em>Education and Information Technologies, 27</em>(1), 407-428. <a target="_blank" href="https://doi.org/10.1007/s10639-021-10679-w">https://doi.org/10.1007/s10639-021-10679-w</a></p>
                <p>Kalenda, P., Rath, L., & Glor, H. (2020). Breaking the mold: Using 3D printers to support take-home science activities. <em>Teacher Librarian 47</em>(5), 29-36.</p>
                <p>Colantonio-Yurko, K., Kalenda, P., Olmstead, K., Rath, L., & Wright, A. (2020). I never knew a librarian did that! Exploring how faculty and librarian relationships support meaningful collaboration. <em>Journal of New Librarianship, 5,</em> 25-44. <a target="_blank" href="https://journals.colorado.edu/index.php/jonl/article/view/713">https://journals.colorado.edu/index.php/jonl/article/view/713</a></p>
                <p>Rath, L., Olmstead, K., Zhang, J., & Beach, P. (2019). Hearing students' voices: Understanding student perspectives of online learning. Online Journal of Distance Learning Administration, 22(4). <a target="_blank" href="https://www.westga.edu/~distance/ojdla/winter224/rathbeacholmsteadzhang224.html">https://www.westga.edu/~distance/ojdla/winter224/rathbeacholmsteadzhang224.html</a></p>
                <p>Olmstead, K., Colantonio-Yurko, K., Ashton, J., & Rath, L. (2019). Re-envisioning teacher education: Using DisCrit perspectives to disrupt deficit thinking. <em>Journal of Curriculum, Teaching, Learning and Leadership in Education, 4</em>(1). <a target="_blank" href="https://digitalcommons.unomaha.edu/ctlle/vol4/iss1/4">https://digitalcommons.unomaha.edu/ctlle/vol4/iss1/4</a></p>
                <p class="text-center alert alert-warning py-1 text-dark">See my <a target="_blank" href="https://scholar.google.com/citations?user=sfO-kFAAAAAJ&hl=en">Google Scholar Profile</a>, <a target="_blank" href="https://orcid.org/0000-0002-6221-4536">ORCid</a>, or <a target="_blank" href="rath_cv_web.pdf">CV</a> for a more comprehensive list.</p>
            </div>
          </div>
        </div>
        <a name="presentations" id="education"></a>
        <div class="timeline-card timeline-card-warning card shadow-sm">
          <div class="card-body">
            <div class="h5 mb-1">Presentations</div>
            <div class="apa">
              <p>Information Literacy as a Social Practice: A Threshold Concept for Academic Instruction Librarians. <em><a href="https://edoc.hu-berlin.de/handle/18452/25993" target="_blank">Information Seeking in Context, Berlin, Germany</a></em> (9/27/22)</p>
              <p>Why Do They Keep Pushing the Button? Understanding the Student Searching Process. <em><a href="https://idsproject.org/conferences.aspx" target="_blank">Information Delivery Services Project</a></em> (7/27/22)</p>
              <p>How Can Theory Help Us Be Better Librarians? A Panel Discussion (with A. VanScoy and C. Germain). <em><a href="https://events.sunyla.org/sunyla2021" taret="_blank">SUNY Librarians Association</a></em> (6/16/21)</p>
              <p>Transforming understanding of information literacy: Sustainable futures through information landscapes. <em><a href="https://www.asist.org/am20/" target="_blank">Association for Information Science &amp; Technology, Online</a></em> (10/28/20)</p>
              <p>Transforming information literacy education: Information literacy landscapes. <em><a target="_blank" href="https://www.alise.org/2020-annual-conference">Association of Library and Information Science Educators, Online</a></em> (10/22/20)</p>
              <p>Are They Learning? Information Literacy Assessment in the Library Classroom (with N. Murillo). <em><a href="https://sunyla2020.wordpress.com" target="_blank">SUNY Librarians Association</a></em> (6/16/20)</p>
              <p>Digital Interactive Notebooks for Learning Asynchronously. <em><a target="_blank" href="https://cit.suny.edu/cit-2019/">SUNY Conference on Instruction &amp; Technology</a></em> (5/30/19)</p>
              <p>Alma Fulfillment Training. <em><a target="_blank" href="https://slcny.libguides.com/lsptraining">SUNY Shared Library Services Training</a></em> (4/2019 - 5/2019)</p>
              <p>I Never Knew a Librarian Did That! (with K. Colantonio-Yurko). <em><a target="_blank" href="https://www.esln.org/the-library-is-open/">The Library is Open: The Academic Libraries Conference</a></em> (10/12/18)</p>
              <p>USER Instructional Design Method. <em><a target="_blank" href="https://sunyla.org/informationliteracy/">SUNY Librarians Association Working Group for Information Literacy Lightning Talks</a></em> (9/12/18)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr class="d-print-none"/>
  <div class="px-3 px-lg-4 pb-4">
    <a name="tools" id="tools"></a>
    <h2 class="h3 text mb-3">Tools &amp; Modules</h2>
    <div class="row">
      <div class="timeline">
        <div class="timeline-card timeline-card-primary card shadow-sm">
          <div class="card-body">
            <div class="mb-0 h5"><a target="_blank" href="https://loganrath.info/doi/">DOI Lookup</a></div>
            <div>This tool takes a DOI and provides a link to search the result in the discovery layers of Brockport, Albany, and the University at Buffalo.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-primary card shadow-sm">
          <div class="card-body">
            <div class="h5 mb-0">Lesson Plans</div>
            <div><ul class="mb-0">
              <li><a href="/learning/apa7/">APA 7th edition</a></li>
              <li><a href="/learning/keywords/">Keywords</a></li>
            </ul></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--div class="contant-section px-3 px-lg-4 pb-4" id="contact">
    <h2 class="h3 text mb-3">Contact</h2>
    <div class="row">
      <div class="col-md-7 d-print-none">
        <div class="my-2"><form action="https://formspree.io/your@email.com"
    method="POST">
  <div class="row">
    <div class="col-6">
      <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required>
    </div>
    <div class="col-6">
      <input class="form-control" type="email" id="email" name="_replyto" placeholder="Your E-mail" required>
    </div>
  </div>
  <div class="form-group my-2">
    <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>
  </div>
  <button class="btn btn-primary mt-2" type="submit">Send</button>
</form>
        </div>
      </div>
      <div class="col">
        <div class="mt-2">
          <h3 class="h6">Address</h3>
          <div class="pb-2 text-secondary">140, City Center, New York, U.S.A</div>
          <h3 class="h6">Phone</h3>
          <div class="pb-2 text-secondary">+0718-111-0011</div>
          <h3 class="h6">Email</h3>
          <div class="pb-2 text-secondary">Joyce@company.com</div>
        </div>
      </div>
      <div class="col d-none d-print-block">
        <div class="mt-2">
          <div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-twitter mr-1"></i><span>https://twitter.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-instagram mr-1"></i><span>https://www.instagram.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-github mr-1"></i><span>https://github.com/templateflip</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div -->
</div></div>
    </div>
    {% include footer2023.html %}
  </body>
</html>
