<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
{% if page.coverimage %}
<div id="headerbg" class="blog-cover" style="background-image:url(/images/{{ page.coverimage.url }});">
  <div class='cover_overlay'>
    <div class="content">
      {% if page.coverimage.title %}<h1 style="text-shadow: 2px 2px #333;">{{ page.coverimage.title }}</h1>{% endif %}
      {% if page.coverimage.subtitle %}<h3>{{ page.coverimage.subtitle }}</h3>{% endif %}
      <p class="socialicons">{% include socialicons.html %}</p>
    </div>
  </div>
</div>
{% if page.coverimage.caption %}<div class='cover-caption'>{{ page.coverimage.caption }}</div>{% endif %}
{% endif %}
    <div class="container content">
     {%include header.html %}
      <main>
        {{ content }}
      </main>
	</div>
    <footer class="footer">
      <div class="container content">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. Logan Rath. All rights reserved unless stated otherwise. Some pages are CC-BY-SA-NC. <a href="/disclaimer/">See disclaimer for more information</a>. 
        </small>
      </div>
    </footer>
  </body>
</html>
<script>
var headerNum = Math.floor((Math.random() * 5) + 1);
headerBgURL = "/images/header" + headerNum + ".jpg";
$('#headerbg').css('background-image', 'url('+headerBgURL+')');
</script>
