<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logan Rath, PhD</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="/assets/rightresume/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="/assets/rightresume/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="/assets/rightresume/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="/assets/rightresume/main.css?ver=1.2.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header class="d-print-none" style="height: 2em;"></header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">{{ page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="col-6 mx-auto">
      <ul class="navbar nav mb-1">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/rath_cv_web.pdf">Download CV</a></li>
    </ul>
    </div>
    <div class="container px-3 px-lg-4 pb-4">
      {{ content }}
    </div>
  </div>

</div></div>
    </div>
    {% include footer2023.html %}
  </body>
</html>
